.products__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  justify-items: center; /* Centers the items horizontally */
}

.home__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
  background-color: #f9f9f9;
  padding: 20px;
}

.category__select,
.sort__select,
.price__input {
  padding: 8px;
  margin-bottom: 16px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.price-filter {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

@media (min-width: 640px) {
  .products__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .products__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
